.speaker_box{
  position: relative;
  overflow: hidden;
  .speaker_img{
    position: relative;
    overflow: hidden;
    img{
      width: 100%;
      @include single-transition(all, ease-in-out,0.4s);
    }
    .info_box{
      width: 100%;
      position: absolute;
      bottom: 25px;
      background-color: $color-black;
      padding: 10px 30px;
      @include single-transition(all, ease-in-out,0.4s);
      .name{
        color: $color-gray;
        font-size: 16px;
        margin-bottom: 0;
        font-weight: 600;
        // text-transform: capitalize;
        @include single-transition(all, ease-in-out,0.4s);
      }
      .position{
        font-size: 12px;
        color: $color-light;
        text-transform: capitalize;
      }
    }
  }
  .speaker_social{
    padding: 50px;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: inline-block;
        margin-left: 4px;
        a{
          border: solid 1px $color-primary;
          display: block;
          border-radius: 50px;
          padding: 7px 0;
          font-size: 24px;
          color:  $color-primary;
          width: 40px;
          height: 40px;
          text-align: center;
          &:hover{
            color:  $color-light;
            background-color:  $color-primary;
          }
        }
      }
    }
  }

  &:hover{
    .speaker_img{
        img{
          width: 100%;
          transform: scale(1.1);
          @include single-transition(all, ease-in-out,0.4s);
        }
        .info_box{
          background-color: $color-primary;
          @include single-transition(all, ease-in-out,0.4s);
          .name{
            color: $color-light;
            @include single-transition(all, ease-in-out,0.4s);
          }
          .position{
            color: $color-light;
          }
        }
    }
  }
}