#platinum-sponsors {
  h5 {
    font-size: 32px;
  }
}

#gold-sponsors {
  h5 {
    font-size: 24px;
  }
}

#silver-sponsors {
  h5 {
    font-size: 18px;
  }
}

#bronze-sponsors {
  h5 {
    font-size: 12px;
  }
}

