---
---

<a class="anchor" id="about"></a>
<section class="pt50 pb50">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                A propos de FlowCon France
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <p style="text-align: justify;">
                    FlowCon réunit depuis 10 ans les professionnels de développement logiciel autour d’une notion principale : le développement de produit en flux, que ce soit Lean Kanban (à l'origine), l’agilité, le Lean, le Continuous Delivery, l’approche Beyond Budgeting, et toutes les réflexions internationales sur les façons de mieux travailler en équipe. L’ensemble des organisateurs, les speakers, les sponsors et les participants se retrouvent autour de ces questions.
                </p>
                <p style="text-align: justify;">
                     Les participants viennent à FlowCon pour découvrir une sélection de talks du monde entier. Flowcon revendique un mix de participants, du développeur jusqu'au patron, rarement réunis dans un même lieu, et tous concernés par des sujets communs.
                 </p>
                 <p style="text-align: justify;">
                     Flowcon est devenu une conférence clé pour la communauté Agile française, avec l'ambition de dépasser nos frontières. Accueillie par des intervenants nationaux et internationaux de renom, la conférence aborde les sujets au cœur des préoccupations de l'agilité moderne.
                 </p>
                 <h1>Notre manifeste</h1>
                 <p>
                     Les produits PLUTÔT QUE les projets<br/>
                     L’équipe PLUTÔT QUE l’individu<br/>
                     La valeur PLUTÔT QUE l'effort<br/>
                     En continu PLUTÔT QUE les lots
                </p>
                <p>
                    FlowCon a également un meetup associé avec des événements réguliers : 
                    <a target="_blank" href="https://www.meetup.com/fr-FR/FlowCon-France-Meetup/">https://www.meetup.com/fr-FR/FlowCon-France-Meetup/</a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center mt30">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="fa fa-diamond"></i>
                    <div class="content">
                        <h4>Notre valeur</h4>
                        <p>
                            Une plongée dans le développement produit en flux
                        </p>
                        <!--a href="#">more</a-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="lnr lnr-earth"></i>
                    <div class="content">
                        <h4>International</h4>
                        <p>
                            Les conférenciers viennent du monde entier
                        </p>
                        <!--a href="#">more</a-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="fa fa-hourglass"></i>
                    <div class="content">
                        <h4>2 jours</h4>
                        <p>
                            2 jours de conférences dans une grande salle
                        </p>
                        <!--a href="#">more</a-->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="icon_box_one">
                    <i class="fa fa-th"></i>
                    <div class="content">
                        <h4>3 tracks</h4>
                        <p>
                            3 tracks avec 30+ conférences et ateliers
                        </p>
                        <!--a href="#">more</a-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
