<h4>Practical information due to the strike</h4>

<h5>Real-time information</h5>
<p>Here are the links to consult real-time information </p>
<ul>
    <li><a href="http://www.ratp.fr/en/information">Infos Trafic RATP</a></li>
    <li><a href="https://en.oui.sncf/en/train/strike">Infos Trafic SNCF</a></li>
    <li>Application / Web : <a href="https://www.oui.sncf/">https://www.oui.sncf/</a></li>
</ul>

<h5>To reach Paris</h5>

<p>Here is a list of alternative transport options to get to Paris.</p>
<p>We would like to warn you that roads may be congested.</p>

<p><b>Car-sharing 🚗</b></p>
<p>
    We have set up a Togetzer carpooling platform on which you can propose or request a ride in order to allow mutual assistance between participants: 
     <a href="https://www.togetzer.com/covoiturage-evenement/5mvtun">Togetzer FlowCon19</a>
</p>

<ul>
    <li><a href="https://www.vianavigo.com/en/home" target="_blank">Platform Vianavigo</a></li>
    <li><a href="https://www.blablacar.fr/" target="_blank">Blablacar</a></li>
    <li><a href="https://www.getaround.com/" target="_blank">Getaround</a></li>
</ul>

<p>Bus 🚌</p>
<ul>
    <li><a href="https://www.flixbus.fr/" target="_blank">Flixbus</a></li>
    <li><a href="https://www.eurolines.eu/" target="_blank">Eurolines</a></li>
    <li><a href="https://www.blablacar.fr/bus" target="_blank">BlablaBus</a></li>
</ul>

<h5>To move around Paris</h5>
<p>Taxis and Drivers (ride-hailing apps) 🚕</p>
<ul>
    <li><a href="https://www.kapten.com/" target="_blank">Kapten</a> (ex Chauffeur privé)</li>
    <li><a href="https://www.marcel.cab/" target="_blank">Marcel</a></li>
    <li><a href="https://www.uber.com/global/en/cities/paris/" target="_blank">Uber</a></li>
    <li><a href="https://bolt.eu/en/cities/paris" target="_blank">Bolt</a></li>
    <li><a href="https://www.g7.fr/en/" target="_blank">Taxi G7</a></li>
    <li><a href="https://en.lecab.fr/" target="_blank">leCab</a></li>
    <li><a href="https://www.allocab.com/" target="_blank">Allocab</a></li>
</ul>

<p><b>Bike sharing 🚲</b></p>
<ul>
    <li><a href="https://www.velib-metropole.fr/en_GB">Vélib'</a> : Paris disposed' un programme de vélo en libre-service (Ce service nécessite une carte de crédit)</li>    
    <li><a href="https://www.jump.com/fr/en/cities/paris/">JUMP</a></li>    
    <li><a href="https://mobike.com/fr/">Mobike</a></li>    
</ul>

<p><b>Scooter electrical 🛴</b></p>
<ul>
    <li><a href="https://www.li.me/electric-scooter">LIME</a></li>    
    <li><a href="https://www.jump.com/fr/en/cities/paris/">JUMP</a></li>
    <li><a href="https://www.bird.co/?lang=en">BIRD</a></li>
    <li><a href="https://ridedott.com/">DOTT</a></li>
</ul>

<p><b>Motorcycle electrical 🛵</b></p>
<ul>
    <li><a href="https://www.cityscoot.eu/en/paris/">Cityscoot</a></li>    
</ul>

<p>We are at your disposal if you have any questions.</p>