/* ----------------IMPORT GOOGLE FONTS ------------------- */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900");

/* ----------------Text Fonts ------------------- */


body{
  min-height: 100v;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  font-family:$font;
  color:$color-dark-gray;
  font-style: normal;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6{
  font-family:$font;
  font-weight: 700;
  color: $color-black;
  line-height: 1.3;
}
h1,.h1 {
  font-size: 48px;
  margin-bottom: 25px;
}
h2,.h2 {
  font-size: 42px;
  margin-bottom: 25px;
}
h3,.h3 {
  font-size: 36px;
  margin-bottom: 25px;
}
h4,.h4 {
  font-size:24px;
  margin-bottom: 15px;
}
h5,.h5 {
  font-size: 18px;
  margin-bottom: 15px;
}
h6,.h6 {
  font-size: 14px;
  margin-bottom:10px;
}
p{
  font-size: 14px;
  font-family:$font;
  margin: 0 0 15px;
  line-height: 24px;
  font-weight: 400;
  color:$color-dark;
  &:last-child{
    margin-bottom: 0;
  }
}

a{
  color: $color-primary;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  @include single-transition(all, .4s, ease-in-out);
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color:$color-dark-gray;
  @include single-transition(all, .4s, ease-in-out);
}

a.anchor {
  display: block;
  position: relative;
  top: -50px;
  visibility: hidden;
}

ul.nosyely_list{
  padding: 0;
  margin: 0;
  list-style: none;
}
.section_title{
  position: relative;
  margin-bottom: 25px;
  .title{
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 36px;
    &:before{
      width: 30px;
      content: " ";
      position: absolute;
      border-top: solid 3px $color-primary;
      left: 0;
      top: 0;
    }
  }
}

.countdown{
  text-align: center;

  div{
    margin: 20px;
    display: inline-block;
    padding: 25px;
    min-width: 120px;
    background-color: #1D428A;
    color: #ffffff;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    span{
      display: block;
      font-size: 14px;
      font-weight: 400;
    }
  }

}

.card-header {
  background-color: $color-primary;
  border-color: $color-primary;
  color: white;
}

.bg-img{
  border-radius: 4px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  .overlay_dark{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.brand_item{
  opacity: 1;
  @include single-transition(all,ease-in-out,0.4s);
  img{
    display: block;
    max-width: 130px;
    margin: 0 auto;
  }
  &:hover{
    opacity: 0.3;
    @include single-transition(all,ease-in-out,0.4s);
  }
}
.icon_list{
  list-style: none;
  padding: 0;
  margin: 0;
  li{
    display: inline-block;
    width: 100%;
    position: relative;
    padding-left: 50px;
    min-height: 50px;
    margin-bottom: 7px;
    i{
      background-color: $color-primary;
      display: block;
      border-radius: 50px;
      padding: 7px 0;
      font-size: 24px;
      color: $color-light;
      width: 40px;
      height: 40px;
      text-align: center;
      position: absolute;
      left: 0;
    }
    span{
      color: $color-dark;
      padding-top: 6px;
      display: inline-block;
    }
  }
}
blockquote{
  padding: 75px 25px 25px;
  font-size: 20px;
  text-align: center;
  margin: 25px 50px;
  &:before{
    content: open-quote;
    display: block;
    font-size: 134px;
    font-family: Georgia, Verdana, Roboto, serif;
    line-height: 0.2;
    padding: 0;
    opacity: 0.2;
    font-weight: 600;
    margin: 0;
  }
  p{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    font-style: italic;
  }
}

.text-muted {
  color: #868e96!important;
  font-size: 14px;
  line-height: 2.1;
}

strong{
  font-weight: 700;
}
.text-xs {
  font-size: 11px;
}
.text-xl {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
}
.uppercase{
  text-transform: uppercase;
}
.capitalize{
  text-transform: capitalize;
}
img{
  max-width: 100%;
}
@media (min-width: 768px) {
  h1,.h1 {
    font-size: 28px;
    margin-bottom: 15px;
    font-weight: 700;
  }
  h2,.h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  h3,.h3 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  h4,.h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  h5,.h5 {
    font-size: 14px;
    margin-bottom: 10px;
  }
  h6,.h6 {
    font-size: 12px;
    margin-bottom: 5px;
  }

  .hide-md{
    display: none !important;
  }
}

  /* ----------------Responsive Align ------------------- */
  @media all and (max-width: 767px) {
    .text-center-xs {
      text-align: center;
    }
    .text-left-xs {
      text-align: left;
    }
    .text-right-xs {
      text-align: right;
    }
  }


  //preloader
  .loader{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: #f7f7f7;
    z-index: 999999;

    .loader-inner {
      position: absolute;
      border: 2px solid $color-primary;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      left: calc(50% - 20px);
      top: calc(50% - 20px);
      border-right: 0;
      border-top-color: transparent;
      -webkit-animation: loader-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
      animation: loader-inner 1s cubic-bezier(.42, .61, .58, .41) infinite;
    }
  }

  @-webkit-keyframes loader-outter {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes loader-outter {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes loader-inner {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }

  @keyframes loader-inner {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }



  /* ----------------colors------------------- */
  .color-gray{
    color: $color-gray !important;
  }
  .color-dark-gray{
    color: $color-dark-gray !important;
  }
  .color-dark{
    color: $color-dark !important;
  }
  .color-black{
    color: $color-black !important;
  }
  .color-light{
    color: $color-light !important;
  }
  .color-green{
    color: $color-green !important;
  }
  .color-blue{
    color: $color-blue !important;
  }
  .color-red{
    color: $color-red !important;
  }
  .color-orange{
    color: $color-orange !important;
  }
  .color-yellow{
    color: $color-yellow !important;
  }
  .color-purple{
    color: $color-purple !important;
  }
  .bg-grad-purple {
    background: #8C66CA;
    background: -webkit-linear-gradient( 135deg, #E25574 0%, #8C66CA 100%);
    background: -o-linear-gradient( 135deg, #E25574 0%, #8C66CA 100%);
    background: -moz-linear-gradient( 135deg, #E25574 0%, #8C66CA 100%);
    background: linear-gradient( 135deg, #E25574 0%, #8C66CA 100%);
  }
  .bg-macaroni{
    background: -moz-linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%);
    background: -webkit-linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%);
    background: -o-linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%);
    background: -ms-linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%);
    background: linear-gradient(90deg, #ff5f6d 0%, #ffc371 100%);
  }



  .bg-light {
    background-color: $color-light!important;
  }
  .bg-gray{
    background-color: $color-gray!important;
  }
  .bg-black{
    background-color: $color-black!important;
  }
  .bg-blue{
    background-color: $color-blue!important;
  }
  .bg-purple{
    background-color: $color-purple !important;
  }
  /* --------------PADDING STYLE-------------- */
  .p0      { padding: 0 !important;  }
  .p5      { padding: 5px !important;  }
  .p10     { padding: 10px !important;  }
  .p15     { padding: 15px !important;  }
  .p20     { padding: 20px !important;  }
  .p25     { padding: 25px !important;  }
  .p30     { padding: 30px !important;  }
  .p35     { padding: 35px !important;  }
  .p40     { padding: 40px !important;  }
  .p45     { padding: 45px !important;  }
  .p50     { padding: 50px !important;  }
  .p55     { padding: 55px !important;  }
  .p60     { padding: 60px !important;  }
  .p65     { padding: 65px !important;  }
  .p70     { padding: 70px !important;  }
  .p75     { padding: 75px !important;  }
  .p80     { padding: 80px !important;  }
  .p85     { padding: 85px !important;  }
  .p90     { padding: 90px !important;  }
  .p95     { padding: 95px !important;  }
  .p100    { padding: 100px !important; }

  .pt0    { padding-top: 0 !important;  }
  .pt5    { padding-top: 5px !important;  }
  .pt10   { padding-top: 10px !important;  }
  .pt15   { padding-top: 15px !important;  }
  .pt20   { padding-top: 20px !important;  }
  .pt25   { padding-top: 25px !important;  }
  .pt30   { padding-top: 30px !important;  }
  .pt35   { padding-top: 35px !important;  }
  .pt40   { padding-top: 40px !important;  }
  .pt45   { padding-top: 45px !important;  }
  .pt50   { padding-top: 50px !important;  }
  .pt55   { padding-top: 55px !important;  }
  .pt60   { padding-top: 60px !important;  }
  .pt65   { padding-top: 65px !important;  }
  .pt70   { padding-top: 70px !important;  }
  .pt75   { padding-top: 75px !important;  }
  .pt80   { padding-top: 80px !important;  }
  .pt85   { padding-top: 85px !important; }
  .pt90   { padding-top: 90px !important;  }
  .pt95   { padding-top: 95px !important;  }
  .pt100  { padding-top: 100px !important;  }
  .pt120  { padding-top: 120px !important;  }
  .pt200  { padding-top: 200px !important;  }

  .pr0    { padding-right: 0 !important;  }
  .pr5    { padding-right: 5px !important;  }
  .pr10   { padding-right: 10px !important;  }
  .pr15   { padding-right: 15px !important;  }
  .pr20   { padding-right: 20px !important;  }
  .pr25   { padding-right: 25px !important; }
  .pr30   { padding-right: 30px !important;  }
  .pr35   { padding-right: 35px !important;  }
  .pr40   { padding-right: 40px !important;  }
  .pr45   { padding-right: 45px !important;  }
  .pr50   { padding-right: 50px !important;  }
  .pr55   { padding-right: 55px !important;  }
  .pr60   { padding-right: 60px !important;  }
  .pr65   { padding-right: 65px !important;  }
  .pr70   { padding-right: 70px !important;  }
  .pr75   { padding-right: 75px !important;  }
  .pr80   { padding-right: 80px !important; }
  .pr85   { padding-right: 85px !important;  }
  .pr90   { padding-right: 90px !important;  }
  .pr95   { padding-right: 95px !important;  }
  .pr100  { padding-right: 100px !important;  }

  .pb0    { padding-bottom: 0 !important;  }
  .pb5    { padding-bottom: 5px !important;  }
  .pb10   { padding-bottom: 10px !important;  }
  .pb15   { padding-bottom: 15px !important;  }
  .pb20   { padding-bottom: 20px!important; }
  .pb25   { padding-bottom: 25px!important; }
  .pb30   { padding-bottom: 30px!important; }
  .pb35   { padding-bottom: 35px!important; }
  .pb40   { padding-bottom: 40px!important; }
  .pb45   { padding-bottom: 45px !important;  }
  .pb50   { padding-bottom: 50px !important;  }
  .pb55   { padding-bottom: 55px !important;  }
  .pb60   { padding-bottom: 60px !important;  }
  .pb65   { padding-bottom: 65px !important;  }
  .pb70   { padding-bottom: 70px !important;  }
  .pb75   { padding-bottom: 75px !important;  }
  .pb80   { padding-bottom: 80px !important;  }
  .pb85   { padding-bottom: 85px !important;  }
  .pb90   { padding-bottom: 90px !important;  }
  .pb95   { padding-bottom: 95px !important;  }
  .pb100  { padding-bottom: 100px !important;  }
  .pb120  { padding-bottom: 120px !important;  }
  .pb200  { padding-bottom: 200px !important;  }

  .pl0    { padding-left: 0; }
  .pl5    { padding-left: 5px; }
  .pl10   { padding-left: 10px; }
  .pl15   { padding-left: 15px; }
  .pl20   { padding-left: 20px; }
  .pl25   { padding-left: 25px; }
  .pl30   { padding-left: 30px; }
  .pl35   { padding-left: 35px; }
  .pl40   { padding-left: 40px; }
  .pl45   { padding-left: 45px; }
  .pl50   { padding-left: 50px; }
  .pl55   { padding-left: 55px; }
  .pl60   { padding-left: 60px; }
  .pl65   { padding-left: 65px; }
  .pl70   { padding-left: 70px; }
  .pl75   { padding-left: 75px; }
  .pl80   { padding-left: 80px; }
  .pl85   { padding-left: 85px; }
  .pl90   { padding-left: 90px; }
  .pl95   { padding-left: 95px; }
  .pl100  { padding-left: 100px; }

  /*  -----------------MARGIN STYLE----------------------- */
  .m0      { margin: 0; }
  .m5      { margin: 5px; }
  .m10     { margin: 10px; }
  .m15     { margin: 15px; }
  .m20     { margin: 20px; }
  .m25     { margin: 25px; }
  .m30     { margin: 30px; }
  .m35     { margin: 35px; }
  .m40     { margin: 40px; }
  .m45     { margin: 45px; }
  .m50     { margin: 50px; }
  .m55     { margin: 55px; }
  .m60     { margin: 60px; }
  .m65     { margin: 65px; }
  .m70     { margin: 70px; }
  .m75     { margin: 75px; }
  .m80     { margin: 80px; }
  .m85     { margin: 85px; }
  .m90     { margin: 90px; }
  .m95     { margin: 95px; }
  .m100    { margin: 100px; }

  .mt0    { margin-top: 0 !important; }
  .mt5    { margin-top: 5px!important;  }
  .mt10   { margin-top: 10px!important;  }
  .mt15   { margin-top: 15px!important;  }
  .mt20   { margin-top: 20px!important;  }
  .mt25   { margin-top: 25px!important; }
  .mt30   { margin-top: 30px!important;  }
  .mt35   { margin-top: 35px!important;  }
  .mt40   { margin-top: 40px!important;  }
  .mt45   { margin-top: 45px!important;  }
  .mt50   { margin-top: 50px!important;  }
  .mt55   { margin-top: 55px!important;  }
  .mt60   { margin-top: 60px!important;  }
  .mt65   { margin-top: 65px!important;  }
  .mt70   { margin-top: 70px!important;  }
  .mt75   { margin-top: 75px!important; ; }
  .mt80   { margin-top: 80px!important;  }
  .mt85   { margin-top: 85px!important;  }
  .mt90   { margin-top: 90px!important;  }
  .mt95   { margin-top: 95px!important;  }
  .mt100  { margin-top: 100px!important;  }
  .mt110  { margin-top: 110px!important;  }
  .mt120  { margin-top: 120px!important;  }
  .mt-75   {  margin-top: -75px !important;  }
  .mr0    { margin-right: 0!important;  }
  .mr5    { margin-right: 5px!important;  }
  .mr10   { margin-right: 10px!important; }
  .mr15   { margin-right: 15px!important; }
  .mr20   { margin-right: 20px!important;  }
  .mr25   { margin-right: 25px!important;  }
  .mr30   { margin-right: 30px!important; }
  .mr35   { margin-right: 35px!important;  }
  .mr40   { margin-right: 40px!important;  }
  .mr45   { margin-right: 45px!important;  }
  .mr50   { margin-right: 50px!important;  }
  .mr55   { margin-right: 55px!important;  }
  .mr60   { margin-right: 60px!important;  }
  .mr65   { margin-right: 65px!important;  }
  .mr70   { margin-right: 70px!important;  }
  .mr75   { margin-right: 75px!important;  }
  .mr80   { margin-right: 80px!important; }
  .mr85   { margin-right: 85px!important; }
  .mr90   { margin-right: 90px!important;  }
  .mr95   { margin-right: 95px!important;  }
  .mr100  { margin-right: 100px!important;  }

  .mb0    { margin-bottom: 0!important;  }
  .mb5    { margin-bottom: 5px!important;  }
  .mb10   { margin-bottom: 10px!important;  }
  .mb15   { margin-bottom: 15px!important;  }
  .mb20   { margin-bottom: 20px!important;  }
  .mb25   { margin-bottom: 25px!important;  }
  .mb30   { margin-bottom: 30px!important;  }
  .mb35   { margin-bottom: 35px!important;  }
  .mb40   { margin-bottom: 40px!important;  }
  .mb45   { margin-bottom: 45px!important;   }
  .mb50   { margin-bottom: 50px!important;  }
  .mb55   { margin-bottom: 55px!important;  }
  .mb60   { margin-bottom: 60px!important;  }
  .mb65   { margin-bottom: 65px!important;  }
  .mb70   { margin-bottom: 70px!important;  }
  .mb75   { margin-bottom: 75px!important;  }
  .mb80   { margin-bottom: 80px!important;  }
  .mb85   { margin-bottom: 85px!important;  }
  .mb90   { margin-bottom: 90px!important;  }
  .mb95   { margin-bottom: 95px!important;  }
  .mb100  { margin-bottom: 100px!important;  }

  .ml0    { margin-left: 0!important;  }
  .ml5    { margin-left: 5px!important;  }
  .ml10   { margin-left: 10px!important;  }
  .ml15   { margin-left: 15px!important;  }
  .ml20   { margin-left: 20px!important;  }
  .ml25   { margin-left: 25px!important;  }
  .ml30   { margin-left: 30px!important;  }
  .ml35   { margin-left: 35px!important;  }
  .ml40   { margin-left: 40px!important; }
  .ml45   { margin-left: 45px!important;  }
  .ml50   { margin-left: 50px!important;  }
  .ml55   { margin-left: 55px!important;  }
  .ml60   { margin-left: 60px!important;  }
  .ml65   { margin-left: 65px!important;  }
  .ml70   { margin-left: 70px!important;  }
  .ml75   { margin-left: 75px!important;  }
  .ml80   { margin-left: 80px!important;  }
  .ml85   { margin-left: 85px!important;  }
  .ml90   { margin-left: 90px!important;  }
  .ml95   { margin-left: 95px!important;  }
  .ml100  { margin-left: 100px!important; }

  /*  --------------MARGIN STYLE MINUS----------------------------- */
  .mt-5    { margin-top: -5px; }
  .mt-10   { margin-top: -10px; }
  .mt-15   { margin-top: -15px; }
  .mt-20   { margin-top: -20px; }
  .mt-25   { margin-top: -25px; }
  .mt-30   { margin-top: -30px; }
  .mt-35   { margin-top: -35px; }
  .mt-40   { margin-top: -40px; }
  .mt-45   { margin-top: -45px; }
  .mt-50   { margin-top: -50px; }
  .mt-55   { margin-top: -55px; }
  .mt-60   { margin-top: -60px; }
  .mt-65   { margin-top: -65px; }
  .mt-70   { margin-top: -70px; }
  .mt-75   { margin-top: -75px; }
  .mt-80   { margin-top: -80px; }
  .mt-85   { margin-top: -85px; }
  .mt-90   { margin-top: -90px; }
  .mt-95   { margin-top: -95px; }
  .mt-100  { margin-top: -100px; }
  .mt-110  { margin-top: -110px; }
  .mt-120  { margin-top: -120px; }
  .mt-130  { margin-top: -130px; }
  .mt-140  { margin-top: -140px; }
  .mt-150  { margin-top: -150px; }

  .ml-5    { margin-left: -5px; }
  .ml-10   { margin-left: -10px; }
  .ml-15   { margin-left: -15px; }
  .ml-20   { margin-left: -20px; }
  .ml-25   { margin-left: -25px; }
  .ml-30   { margin-left: -30px; }
  .ml-35   { margin-left: -35px; }
  .ml-40   { margin-left: -40px; }
  .ml-45   { margin-left: -45px; }
  .ml-50   { margin-left: -50px; }
  .ml-55   { margin-left: -55px; }
  .ml-60   { margin-left: -60px; }
  .ml-65   { margin-left: -65px; }
  .ml-70   { margin-left: -70px; }
  .ml-75   { margin-left: -75px; }
  .ml-80   { margin-left: -80px; }
  .ml-85   { margin-left: -85px; }
  .ml-90   { margin-left: -90px; }
  .ml-95   { margin-left: -95px; }
  .ml-100  { margin-left: -100px; }
  .ml-110  { margin-left: -110px; }
  .ml-120  { margin-left: -120px; }
  .ml-130  { margin-left: -130px; }
  .ml-140  { margin-left: -140px; }
  .ml-150  { margin-left: -150px; }

  .mb-5    { margin-bottom: -5px; }
  .mb-10   { margin-bottom: -10px; }
  .mb-15   { margin-bottom: -15px; }
  .mb-20   { margin-bottom: -20px; }
  .mb-25   { margin-bottom: -25px; }
  .mb-30   { margin-bottom: -30px; }
  .mb-35   { margin-bottom: -35px; }
  .mb-40   { margin-bottom: -40px; }
  .mb-45   { margin-bottom: -45px; }
  .mb-50   { margin-bottom: -50px; }
  .mb-55   { margin-bottom: -55px; }
  .mb-60   { margin-bottom: -60px; }
  .mb-65   { margin-bottom: -65px; }
  .mb-70   { margin-bottom: -70px; }
  .mb-75   { margin-bottom: -75px; }
  .mb-80   { margin-bottom: -80px; }
  .mb-85   { margin-bottom: -85px; }
  .mb-90   { margin-bottom: -90px; }
  .mb-95   { margin-bottom: -95px; }
  .mb-100  { margin-bottom: -100px; }
  .mb-110  { margin-bottom: -110px; }
  .mb-120  { margin-bottom: -120px; }
  .mb-130  { margin-bottom: -130px; }
  .mb-140  { margin-bottom: -140px; }
  .mb-150  { margin-bottom: -150px; }