<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>

    {{ partial "header.html" . }}

    <section class="pt100 pb50">
        <div class="container">
            <div class="section_title mb20">
                <h3 class="title">
                    Code of conduct
                </h3>
            </div>
            <div class="row justify-content-left">
                <div class="col-12">
                    {{.Content}}
                </div>
            </div>
        </div>
    </section>

    {{ partial "footer.html" . }}