<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body>
    <div class="loader">
        <div class="loader-outter"></div>
        <div class="loader-inner"></div>
    </div>

    {{ partial "header.html" . }}

    <!--speaker section-->
    <a class="anchor" id="speakers"></a>
    <section class="pt100 pb50" style="min-height: 90vh;">
        <div class="container">
            <div class="section_title mb20">
                <h3 class="title">
                    Speakers
                </h3>
            </div>
        </div>
        <div class="row no-gutters">
        {{ with .Site.Params.speakers }}
            {{ range . }}
            <div class="col-xl-3 col-md-6 col-sm-12">
                <a href="{{ .url }}">
                    <div class="speaker_box">
                        <div class="speaker_img">
                            <img src="/img/speakers/{{ .photo }}.jpg" alt="{{ .name }}">
                            <div class="info_box">
                                <h5 class="name">{{ .name }}</h5>
                                <p class="position">{{ .talk }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        {{ else }}
            <div class="container">Coming soon!</div>
        {{ end }}
        </div>
    </section>
    <!--speaker section end -->

    {{ partial "footer.html" . }}